* {
	font-family: Philosopher;
}
#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  background-image: url(../images/white-wood.jpg);

}



#header {
	background-color: white;
	margin-bottom: 40px;
	width: 100%;
    font-family: Philosopher;
}

#tab {
	text-align: center; 
font-family: Philosopher;
	width: 235px;
	height: 100%;
	background-color: #800020;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

nav {
	position: absolute;
	float: left;
	display: inline-block;
	left: 67.75%;
	top: 1%;	
}



nav ul li {
	
	display: inline-block;
	color: #777777;
	padding: 15px;
	text-align: center;

}

nav ul li:hover {
	background-color: #800020; 
}


.main_content {
	
	float: left;
	width: 590px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;	
	border: 1px solid #dddddd;
	background-color: white;
}

.social_box {
	float: left;
	width: 250px;
	font-family: Philosopher;
	color: #800020;
	height: 165px;
	border: 1px solid #dddddd;
	margin-left: 35px;
	background-color: white;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

#page_name{
	font-family: Philosopher;
	border-bottom: solid #dddddd;
	padding-bottom: 30px;
	color: #800020;
}

form {
	font-family: Philosopher;
	color: #777777;

}

#submit_button {
	background-color: #800020;
	padding: 10px 25px 10px 25px;
	margin-bottom: 20px;	
	color: white;
	font-weight: bolder;
	font-size: 18px;
}

#submit_button:hover {
	background-color: white;
	color: #800020;

}

.icons {
	height: 50px;
	width: 50px;
	padding-left:5px;
	
}



#icons_box {	
	padding-top: 2px;
}



.social_box li {
	display: inline-block;

	
}

#connect_title {
	text-align: center;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;

}


#footer {
	top: 100%;
	text-align: center;
	background-color: #666666;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
	border-top: 5px solid #800020;
	color: white;
font-family: Philosopher;
	display: inline-block;
	
}

@media screen and (max-width: 980px) {
	#wrapper {
		width: 800px;
	}

	#header {
		
		width: 768px;

	}

	nav {
		left: 58.75%;
	}

	.main_content {
	width: 707px;
	float: none;
	margin-bottom: 20px;
	}

	#crossword {
	margin-left: 18%;
	}


	.social_box {
	float: none;
	margin-left: 0px;
	left: 30%;
	position: relative;
	}

	footer {
		width: 768px;
	}
}

@media screen and (max-width: 768px) {
	

	#wrapper {
		width: 768px;
		margin-left: 0px;
	}

	#header {
		width: 640px;
		margin-left: 0px;
		position: static;
		

	}

	nav {
		left: 44.75%;
	}

	.main_content {
	float: none;
	margin-bottom: 20px;
	width: 579px;
	}

	#crossword {
	margin-left: 10.5%;
	}	
	
	#cardgame {
	margin-left: 10.5%;
    }

    #scheduler {
	margin-left: 10.5%;
	}


	.social_box {
	float: none;
	margin-left: 0px;
	left: 25%;
	position: relative;
	}

	footer {
	width: 640px;
	}
}

@media screen and (max-width: 640px) {
	

	#wrapper {
		width: 520px;
		margin-left: 0px;
	}

	#header {
		width: 520px;
		margin-left: 0px;
		position: static;
		

	}

	nav {
		left: 43.75%;
	}

	.main_content {
	float: none;
	margin-bottom: 20px;
	width: 460px;
	
	}

	#crossword {
	margin-left: 7.5%;
	}	
	
	#cardgame {
	margin-left: 7.5%;
    }

    #scheduler {
	margin-left: 7.5%;
	}

	.social_box {
	float: none;
	margin-left: 0px;
	left: 25%;
	position: relative;
	}


footer {
	width: 520px;
}
}